.nav_bar {
    background-color: var(--background);
    display: flex;
    justify-content: space-between; /* Ensures space between wordmark and buttons */
    align-items: center; /* Keeps items vertically aligned */
    position: sticky;
    top: 0;
    width: 100%;
    height: 6.8rem;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    padding: 0 2rem; /* Adjusts padding to balance spacing */
}

.wordmark {
    display: flex;
    flex-direction: column; /* Keeps top and bottom text stacked */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 0.2rem;
    line-height: 1;
    position: absolute;
    left: 44.5%;
    cursor: default;
}

.nav_buttons {
    display: flex;
    gap: 1.5rem; 
}

.nav_button {
    opacity: 45%;
    position: relative;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.nav_button:after {
    content: "";
    position: absolute;
    background-image: var(--sheena-gradient-02);
    height: 1.2px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.nav_button:hover {
    opacity: 100%;
}

.nav_button:hover:after{
    width: 80%;
}

.nav_icon {
    opacity: 35%;
}

