@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Walkway-Expand-Black";
  src: url("/fonts/Walkway Expand Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Walkway-Black";
  src: url("/fonts/Walkway Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Walkway-Ultrabold";
  src: url("/fonts/Walkway Ultrabold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Walkway-Oblique-Ultrabold";
  src: url("/fonts/Walkway Oblique Ultrabold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Walkway-Oblique-Bold";
  src: url("/fonts/Walkway Oblique Bold.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #212223;
  --foreground: #ededed;
  --sheena-light: #ededed;
  --sheena-dark: #212223;
  --sheena-gradient-01: linear-gradient(to right,#FF99F1, #E3B56D, #4EC9E0);
  --sheena-gradient-02: linear-gradient(to right, rgba(78, 201, 224, 0.8), rgba(255, 153, 241, 0.8), rgba(227, 181, 109, 0.8));
  --sheena-gradient-03-glow: linear-gradient(45deg, rgba(255, 153, 241, 0.8), rgba(227, 181, 109, 0.8), rgba(78, 201, 224, 0.8));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212223;
    --foreground: #ededed;
  }
}

html {
  scrollbar-color: linear-gradient(to right, rgba(78, 201, 224, 0.8), rgba(255, 153, 241, 0.8), rgba(227, 181, 109, 0.8)) transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Walkway-Expand-Black, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

main {
  color: var(--foreground);
  background: var(--background);
  font-family: Walkway-Expand-Black, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
