@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Walkway";
  src: url("/fonts/Walkway Expand Black.ttf");
  font-style: normal;
}

:root {
  --background: #ededed;
  --foreground: #212223;
  --sheena-light: #ededed;
  --sheena-dark: #212223;
  --sheena-gradient-01: linear-gradient(to right,#FF99F1, #E3B56D, #4EC9E0);
  --sheena-gradient-02: linear-gradient(to right, rgba(255, 153, 241, 0.7), rgba(227, 181, 109, 0.7), rgba(78, 201, 224, 0.7));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212223;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Walkway, Arial, Helvetica, sans-serif;
}

main {
  color: var(--foreground);
  background: var(--background);
  font-family: Walkway, Arial, Helvetica, sans-serif;
}
