.main {
    background-image: url("/images/remedify_background.png");
    background-size: cover;
    background-position: center -240rem; 
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-12px);
    }
    60% {
      transform: translateY(-6px);
    }
  }

/*
=========================================================================================================================================================================================================================
HEADS AND SUBHEADS
=========================================================================================================================================================================================================================
*/

.section_head {
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 52px;
    color: var(--sheena-light);
    letter-spacing: 0.3rem;
    position: relative;
    opacity: 85%;
}

.section_head::before {
    content: attr(data-text);
    position: absolute;
    top: 3px; 
    left: 3px; 
    font-family: "Sheena", Arial, Helvetica, sans-serif;
    font-size: 52px;
    width: 100%;
    text-align: center;
    background: var(--sheena-gradient-01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    z-index: -1; /* Puts it behind */
}

.section_subhead {
    display: flex;
    flex-direction: column;
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: left;
    letter-spacing: 0.1rem;
    color: var(--sheena-light);
    opacity: 85%;
    line-height: 1.5rem;
}

.section_subhead_alt {
    font-family: Walkway-Oblique-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: var(--sheena-light);
    opacity: 85%;
}

.section_subhead_02 {
    color: var(--sheena-light);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: left;
    opacity: 85%;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.section_subhead_02_alt {
    color: var(--sheena-light);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: right;
    opacity: 85%;
    margin-bottom: 0.5rem;
}

.section_subhead_03 {
    display: flex;
    flex-direction: column;
    font-family: Walkway-Oblique-Bold, Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
    color: var(--sheena-light);
    margin-top: 0.5rem;
    opacity: 85%;
    letter-spacing: 0.1rem;
}

.bold {
    font-family: Walkway-Oblique-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    opacity: 100%;
}

.bold_alt {
    font-family: Walkway-Oblique-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    opacity: 80%;
}

.section_subhead_04 {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: var(--sheena-light);
    letter-spacing: 0.2rem;
    position: relative;
    opacity: 85%;
}

.section_subhead_04_alt {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: var(--sheena-light);
    letter-spacing: 0.2rem;
    position: relative;
    opacity: 85%;
    text-align: center;
}

.section_subhead_05 {
    color: var(--sheena-light);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: right;
    opacity: 85%;
    margin-bottom: 0.5rem;
    line-height: 2.5rem;
}


/*
=========================================================================================================================================================================================================================
HEADER SECTION
=========================================================================================================================================================================================================================
*/

.remedify_graphic {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.remedify_logo {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.scroll_button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--sheena-light);
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 40%;
    animation: bounce 2s infinite;
}

.scroll_button_02 {
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--sheena-light);
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 40%;
    animation: bounce 2s infinite;
}

.test {
    background-color: red;
}

/*
=========================================================================================================================================================================================================================
CONSTRUCTION
=========================================================================================================================================================================================================================
*/

.under_construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14rem 0rem 4rem 0;
}

/*
=========================================================================================================================================================================================================================
OVERVIEW SECTION
=========================================================================================================================================================================================================================
*/

.overview {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    padding-bottom: 12rem;
}

.mockup_01 {
    position: absolute;
    right: 15rem; 
    top: 50%;
    transform: translateY(-50%);
    max-width: 40%; 
    padding-bottom: 2rem;
}

.mockup_01 img {
    max-width: none;
}

.overview_content {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 57%;
    height: 50%;
    color: var(--sheena-dark);
    font-size: 52px;
    letter-spacing: 0.25rem;
}

.bold_02 {
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.description_block {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.description {
    color: var(--sheena-light);
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    opacity: 80%;
}

/*
=========================================================================================================================================================================================================================
PROBLEM / SOLUTION SECTION
=========================================================================================================================================================================================================================
*/

.problem_solution_section {
    display: flex;
    position: relative;
    gap: 0rem;
}

.mockup_02 {
    width: 100;
    padding-left: 14rem;
    padding-top: 4rem;
}

.mockup_02 img {
    position: absolute;
    max-width: none;
    width: 18%;
}

.problem_solution {
    width: 100%;
    gap: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    padding-right: 10rem;
    padding-bottom: 9rem;
    text-align: left;
    color: var(--sheena-light);
}

.problem {
    width: 50%;
}

.solution {
    width: 50%;
}

.problem_solution_description {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.1rem;
}

.scroll_button_02 {
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--sheena-light);
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 40%;
    animation: bounce 2s infinite;
}

/*
TARGET AUDIENCE SECTION
*/

.target_audience_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 2rem;
}

.target_content {
    display: flex;
    flex-direction: column;
    width: 35%;
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    letter-spacing: 1.8px;
}

.target_content_02 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 2rem;
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    letter-spacing: 1.8px;
}

.target_content_02 p {
    padding-left: 16rem;
}

.target_image_container {
    display: flex;
    justify-content: flex-end;
}

.target_container_01 {
    display: flex;
    padding: 5rem 0;
    gap: 12rem;
}

.target_container_02 {
    display: flex;
    text-align: right;
    gap: 10rem;
    margin-bottom: 2rem;
}

.target_image_container {
    width: 35%;
}

.target_image_container_02 {
    width: 20%;
}

/*
=========================================================================================================================================================================================================================
FEATURES SECTION
=========================================================================================================================================================================================================================
*/

.features_section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.features_container {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-top: 4rem;
}

.features_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    text-align: right;
    padding-left: 26rem;
}

.features_image_container {
    width: 50%;
}

.feature_description {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    letter-spacing: 1.8px;    
    font-size: 18px;
    line-height: 1.5rem;
    width: 35vw;
}

/*
=========================================================================================================================================================================================================================
RESEARCH SECTION
=========================================================================================================================================================================================================================
*/

.research_section {
    display: flex;
    flex-direction: row;
    padding: 2rem 12rem;
    height: 100vh;
}

.document_container {
    width: 50%;
    display: flex;
    justify-content: center;
    height: auto;
    overflow: hidden;
}

.document {
    width: 1000px;
    height: 660px;
    transform: scale(0.92); 
    transform-origin: top left; 
    border: none;
    margin-left: 0rem;
    object-fit: contain;
}

.research_content_container {
    width: 50%;
    padding-left: 5rem;
}

.research_description {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding-top: 1rem;
}

.document_button {
    opacity: 65%;
    position: relative;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    margin-top: 1rem;
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.document_button:after {
    content: "";
    position: absolute;
    background-image: var(--sheena-gradient-02);
    height: 1px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.document_button:hover {
    opacity: 100%;
}

.document_button:hover:after{
    width: 98%;
}

/*
=========================================================================================================================================================================================================================
COMPETITIVE ANALYSIS SECTION
=========================================================================================================================================================================================================================
*/

.comp_analysis_section {
    margin: 4rem;
}

.comp_analysis_description {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.comp_analysis {
    width: 33%;
}

.comp_analysis_subhead {
    font-family: Walkway-Oblique-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 0%;
    opacity: 100%;
}

.comp_analysis_frames {
    display: flex; 
    justify-content: space-between; 
    gap: 0rem; 
    flex-wrap: wrap; 
    margin-top: 1rem;
}

.comp_analysis_container {
    width: 45%; 
    max-width: 800px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.comp_analysis {
    width: 100%;
    height: 450px; 
}

/*
=========================================================================================================================================================================================================================
WIREFRAME SECTION
=========================================================================================================================================================================================================================
*/


.iframe {
    width: 50%;
    height: 100%;
}

/*
=========================================================================================================================================================================================================================
STYLEGUIDE SECTION
=========================================================================================================================================================================================================================
*/

.styleguide_section {
    padding: 4rem 4rem;
}

.styleguide_container {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}

.styleguide_content {
    width: 40%;
}

.styleguide_description {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 3rem;
}

.styleguide_image {
    border-radius: 6px;
}

/*
=========================================================================================================================================================================================================================
COLOR PALETTE SECTION
=========================================================================================================================================================================================================================
*/

.color_palette_section {
    margin: 0rem;
}

.color_palette_head_container {
    margin-bottom: 3rem;
    margin-left: 6rem;
}

.color_palette_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.palette_tile_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 0 2rem;
}

.palette_tile {
    position: relative;
    width: 280px;
    height: 280px;
    display: inline-block;
    border-radius: 100%;
    margin-left: -5rem;
    border: 1.5px solid #89CCC8;
}

.palette_tile:nth-child(2) {
    border: 1.5px solid var(--sheena-light);
}

.palette_tile:nth-child(3) {
    border: 1.5px solid #BB9356;
}

.palette_tile:nth-child(4) {
    border: 1.5px solid #6383A0;
}

.palette_tile:nth-child(5) {
    border: 1.5px solid var(--sheena-dark); 
}

.palette_tile:first-child {
    margin-left: 0;
}

.tile_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.tile_color_name {
    color: var(--sheena-light);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    opacity: 85%;
}

.tile_color_name_02 {
    color: var(--sheena-dark);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    opacity: 50%;
}

.tile_color_name_03 {
    color: var(--sheena-dark);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    opacity: 55%;
}

.tile_color_name_04 {
    color: var(--sheena-dark);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    opacity: 65%;
}

.tile_color_name_05 {
    color: var(--sheena-dark);
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    opacity: 85%;
}

.tile_color_code {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: 75%;
}

.tile_color_code_02 {
    color: var(--sheena-dark);
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: 40%;
}

.tile_color_code_03 {
    color: var(--sheena-dark);
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: 45%;
}

.tile_color_code_04 {
    color: var(--sheena-dark);
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: 55%;
}

.tile_color_code_05 {
    color: var(--sheena-dark);
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: 65%;
}

.palette_tile:first-child {
    margin-left: 0;
}

.color_palette_description {
    font-family: Walkway-UltraBold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    width: 85%;
}


/*
=========================================================================================================================================================================================================================
LOGO SECTION
=========================================================================================================================================================================================================================
*/

.logo_section {
    margin: 4rem 6.5rem;
}

.logo_head_container {
    margin-bottom: 2rem;
}

.logo_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_description_container {
    width: 100%;
    margin-bottom: 4rem;
}

.logo_description {
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    padding-right: 6rem;
}

.logo_images_container {
    display: inline-block;
    gap: 2rem;
    width: 100vw;
}

.logo {
    display: inline-block;
    margin-left: -1rem;
    filter: drop-shadow(8px 22px 16px rgba(0, 0, 0, 0.3));
}

.logo:first-child{
    margin-left: 6rem;
}

/*
=========================================================================================================================================================================================================================
TYPOGRAPHY SECTION
=========================================================================================================================================================================================================================
*/

.typography_section {
    margin: 4rem 6.5rem;
}

.typography_content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    opacity: 70%;
}

/*
=========================================================================================================================================================================================================================
ICONOGRAPHY SECTION
=========================================================================================================================================================================================================================
*/

.iconography_section {
    margin: 4rem 6.5rem;
}

.iconography_content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    opacity: 70%;
}

/*
=========================================================================================================================================================================================================================
MARKETING SECTION
=========================================================================================================================================================================================================================
*/

.marketing_section {
    margin: 4rem 6.5rem;
}

.marketing_content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    opacity: 70%;
}

/*
=========================================================================================================================================================================================================================
MOTION SECTION
=========================================================================================================================================================================================================================
*/

.motion_section {
    margin: 4rem 6.5rem;
}

.motion_content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    opacity: 70%;
}