.main {
    background-image: url("/images/duckmilkbackgroundclear.png");
    background-position: center 20px; 
    background-size:contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24rem;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    letter-spacing: 4rem;
    opacity: 60%;
    padding-top: 2rem;
}

.eden_logo {
    margin-top: 2rem;
    opacity: 50%;
}

.subhead {
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
    color: var(--sheena-dark);
}

.software {
    color: var(--sheena-dark);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    opacity: 80%;
    
}

.underline {
    width: 85%;
    margin-top: 4.5rem;
    border-bottom: 1px solid var(--sheena-dark);
    opacity: 75%;
}

.underline_02 {
    width: 75%;
    margin-top: 8rem;
    border-bottom: 1px solid var(--sheena-light);
    display: block;
    opacity: 75%;
}

.underline_02_alt {
    margin-top: 2rem;
    width: 75%;
    border-bottom: 1px solid var(--sheena-light);
    display: block;
    opacity: 75%;
}

.underline_03 {
    width:75%;
    margin-top: 2rem;
    border-bottom: 1px solid var(--sheena-light);
    display: block;
    opacity: 75%;
}

.body_content {
    margin-top: 10rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mockup {
    width: 1200px; 
    height: 800px; 
    object-fit:none; 
    object-position: top; 
    overflow: hidden;
}

.description {
    width: 75%;
    text-align: center;
    margin-top: 4rem;
    font-family: Walkway-Ultrabold, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.bold {
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.dielines {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 8rem;
}

.disclaimer_head {
    font-size: 36px;
}

.disclaimer_text {
    width: 40%;
    padding-top: 2rem;
    font-family: Walkway-Black, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.5rem;
    opacity: 85%;
}

.bullet_list {
    display: flex;
    flex-direction: column;
    list-style: circle;
    list-style-position: inside;
    line-height: 2rem;
    gap: 1rem;
}
